{% extends 'base.html' %}

{% block content %}
  <style>
    body {
      background-color: #B8E2F2;
    }

    .container {
      margin: 0 auto;
      max-width: 900px;
      padding: 20px;
    }

    form {
      margin: 0 auto;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 20px;
      font-family: 'Barlow Semi Condensed', sans-serif;
    }

    th,
    td {
      padding: 8px;
      text-align: center;
      border-bottom: 1px solid #ddd;
      font-family: 'Barlow Semi Condensed', sans-serif;
    }

    th {
      background-color: black;
      color: white;
    }

    input[type="text"],
    textarea,
    input[type="datetime-local"],
    input[type="file"] {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
      border: none;
      border-bottom: 2px solid #555;
      font-family: 'Barlow Semi Condensed', sans-serif;
    }

    input[type="submit"] {
      background-color: #4CAF50;
      color: white;
      padding: 14px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      display: block;
      margin: 0 auto;
      padding-left: 10%;
      padding-right: 10%;
    }

    input[type="submit"]:hover {
      background-color: #45a049;
    }

    .error {
      color: red;
    }

  </style>

    <div class="container">
        <form action="additem" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <table>
                <tr>
                    <th colspan="2">Add Item</th>
                </tr>
                <tr>
                    <td>Item name:</td>
                    <td><input type="text" name="iname" placeholder="Enter item name" required></td>
                </tr>
                <tr>
                    <td>Profile image:</td>
                    <td><input type="file" name="img" accept="image/*" required></td>
                </tr>
                <tr>
                    <td>Optional image1:</td>
                    <td><input type="file" name="img1" accept="image/*"></td>
                </tr>
                <tr>
                    <td>Optional image2:</td>
                    <td><input type="file" name="img2" accept="image/*"></td>
                </tr>
                <tr>
                  <td>Tag:</td>
                  <td>
                      <select name="itag" required>
                          <option value="">Select item tag</option>
                          <option value="Cycle">Cycle</option>
                          <option value="Cooler">Cooler</option>
                          <option value="Heater">Heater</option>
                          <option value="Laptop">Laptop</option>
                          <option value="Mobile">Mobile</option>
                          <option value="Others">Others</option>
                      </select>
                  </td>
              </tr>
              
                <tr>
                    <td>Description:</td>
                    <td><input type="text" name="disc" maxlength="100" placeholder="Product Description" required></td>
                </tr>
                <tr>
                  <td>Hall:</td>
                  <td><input type="number" name="location" placeholder="Product Hall" required></td>
              </tr>
                <tr>
                    <td>Set base price:</td>
                    <td><input type="number" name="iprice" placeholder="Price" required min= "0" max="100000"></td>
                </tr>
                <tr>
                    <td>Auction Start date :</td>
                    <td><input type="datetime-local" name="s_date" class="field" required></td> 
                </tr> 
                <tr>
                    <td>Auction End date :</td>
                    <td><input type="datetime-local" name="e_date" class="field" required></td> 
                </tr> 
                <tr>
                    <td colspan= "2" align: "center">
                        <font color="black">
                            <input type="submit" class="btt third" value="Upload" style="color: black;">
                        </font>
                    </td>
                </tr>
                
            </form>    
            <tr>
                <td>{% for m in messages %}
                    <center>
                        <font color="red">
                            <h2>{{m}}</h2>
                        </font>
                    </center>
                    {% endfor %}
                </td>
                <td></td>
            </tr>
            </table>
    
            </center>
        </div>
    {% endblock %}          






